@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;  
    background: linear-gradient(to bottom, #e0f7ff, #f9f9ff) no-repeat;
    background-size: cover;
    height: 100vh;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}